$dark: #3e363f;
$light: #fffce8;
$purple: #710707;
$morePurple: #280000;
$lightgreen: #b8b42d;

a,
a:hover,
a:visited {
  text-decoration: none;
  color: $light;
}
.menuPuce :hover {
  background-color: $purple;
  color: $light;
}
.footer {
  position: fixed;
  bottom: 0;
  background: $morePurple;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 99%;
  text-align: center;
  color: $light;
}
@media (min-width: 992px) {
  .header-logo {
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 25px;
  }
  #sidebar {
    float: left;
    width: 30%;
    border: 4px solid $purple;
    border-radius: 20px;
    padding-bottom: 40px;
    background: $morePurple;
    color: $light;
  }
  #content {
    float: right;
    width: 65%;
    border: 4px solid $purple;
    border-radius: 20px;
  }
  li {
    list-style: none;
  }

  .sidebar-contact,
  .navbar-vert {
    line-height: 2.2em;
  }
  .sidebar-partage {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .responsive-link {
    display: none;
    padding-top: 0px;
  }
}

@media (max-width: 992px) {
  #logo {
    width: 300px;
    height: 150px;
  }
  .responsive-link,
  .header-logo {
    display: flex;
    justify-content: center;
  }
  .responsive-link,
  .responsive-link:hover,
  .responsive-link:visited {
    display: flex;
    color: $morePurple;
    text-decoration: none;
    width: auto;
    justify-content: center;
    padding-top: 40px;
  }
  li {
    list-style-type: none;
  }
  .drop-down,
  .sidebar-contact,
  .sidebar-partage {
    display: none;
  }
  .header-section {
    border: 4px solid $purple;
    background: $morePurple;
    border-radius: 20px;
  }
  #mylinks {
    border: 4px solid $purple;
    background: $morePurple;
    border-radius: 20px;
    color: $light;
    margin-bottom: 15px;
  }
  .page-contact {
    border: 4px solid $purple;
    background: $morePurple;
    border-radius: 20px;
  }
}
//Creation de l'icone
label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: $light;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotatez(45deg) translate(8px, 0px);
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotatez(-45deg);
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  width: 50%;
  -webkit-transform: translate(30px, -11px) rotatez(45deg);
  transform: translate(30px, -11px) rotatez(45deg);
}
